body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(83, 153, 122);
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    background-color: rgb(201, 255, 7);
    height: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    width: 1000px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 600px;
}

ul {
    text-align: center;
}
li  {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url("images/home-one/IMG_7301-HDR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.logo {
    max-height: 500px;
    max-width: 500px;
}

.head-logo {
    max-height: 100px;
    max-width: 100px;
}

h1 {
    color: white;
    font-size: 4em;
    z-index: 2;
}

h2 {
    color: rgb(126,20,22);
    font-size: 3em;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px rgba(0,0,0,0.7);
}

h3 {
    color: rgb(201, 255, 7);
    text-shadow: 2px 2px rgba(0,0,0,0.7);
    font-size: 2em;
    z-index: 2;
}

h4 {
    color: white;
    font-size: 1em;
    z-index: 2;
}

p {
    color: white;
}
.testimonial-cont {
background-color: rgb(201, 255, 7);
padding: 15px;
}
.testimonials {
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.76);
}

#menu-cont {
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 50px;
    overflow-y: hidden;
    
}

.blocks {
    height: 250px;
    width: 250px;
    background-color: rgba(0,0,0,0.7);
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#left {
    background-image: url("images/floorplan.png");
    background-size: cover;
    background-color: rgb(255,255,255);
}

#left:hover {
    height: 275px;
    width: 275px;
}

#mid-l {
    background-image: url("images/camera.png");
    background-size: cover;
    background-color: rgb(255,255,255);
}

#mid-l:hover {
    height: 275px;
    width: 275px;
}

#mid-r {
    background-image: url("images/mail.jpg");
    background-size: cover;
    background-color: rgb(255,255,255);
}

#mid-r:hover {
    height: 275px;
    width: 275px;
}

#right {
    background-image: url("images/question.png");
    background-size: cover;
    background-color: rgb(255,255,255);
}

#right:hover {
    height: 275px;
    width: 275px;
}

.menu-overlay {
    margin-top: -102px;
    height: 250px;
    width: 250px;
    background-color: rgba(0,0,0,0.7);
}

.photos-cont {
    background-color: rgb(83, 153, 122);
}

#photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-gap: 15px;
    justify-content: center;
}

.img {
    max-height: 600px;
    max-width: 600px;
}

button {
    margin: 20px;
}


@media (max-width: 800px) {
    .logo {
        max-height:300px;
        max-width: 300px;
    }
    h2 {
        font-size: 2em;
    }
}


