body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    background-color: rgb(201, 255, 7);
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    z-index: 53;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.container {
    width: 1000px;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("images/home-one/IMG_7301-HDR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.logo {
    max-height: 500px;
    max-width: 500px;
}

.head-logo {
    max-height: 100px;
    max-width: 100px;
}

#drop-logo {
    margin-top: 50px;
}

h1 {
    color: white;
    font-size: 4em;
    z-index: 2;
}

h2 {
    color: rgb(126, 20, 22);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
    text- z-index: 2;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h3 {
    color: rgb(126, 20, 22);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    font-size: 2em;
    z-index: 2;
}

h4 {
    color: white;
    font-size: 1em;
    z-index: 2;
}

p {
    color: white;
}

.text {
    color: black;
}

.testimonial-cont {
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.testimonials {
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 10px;
}

#menu-cont {
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 50px;
    overflow-y: hidden;
    background-color: rgb(201, 255, 7);
}

.blocks {
    height: 250px;
    width: 250px;
    background-color: rgb(201, 255, 7);
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#left {
    background-image: url("images/floorplan.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

#left:hover {
    height: 275px;
    width: 275px;
}

#mid-l {
    background-image: url("images/camera.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

#mid-l:hover {
    height: 275px;
    width: 275px;
}

#mid-r {
    background-image: url("images/mail.jpg");
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

#mid-r:hover {
    height: 275px;
    width: 275px;
}

#right {
    background-image: url("images/question.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

#right:hover {
    height: 275px;
    width: 275px;
}

.menu-overlay {
    margin-top: -102px;
    height: 250px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
}

.photos-cont {
    background-color: rgb(83, 153, 122);
}

#photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-gap: 15px;
    justify-content: center;
}

.img {
    max-height: 600px;
    max-width: 600px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

button {
    margin: 20px;
}

.text-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 10px;
    justify-items: center;
    background-color: rgb(201, 255, 7);
}

#who {
    width: 50%;
}

#what {
    width: 50%;
}

.menu-button {
    background: none;
    border: none;
    max-height: 40px;
    max-width: 40px;
    margin-top: -1px;
    margin-left: -25px;
    position: fixed;
    left: -50vw;
    z-index: 99;
    color: rgb(238, 255, 0);
    text-align: center;
    padding: 0;
}

#hamburger {
    max-height: 40px;
    max-width: 40px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    margin-top: -10px;
}

#nav-bar {
    position: fixed;
    height: 50vh;
    width: 100%;
    background-color: rgba(238, 255, 0, 0.589);
    top: -50vh;
    z-index: 50;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.dropdown {
    display: grid;
}

.dropdown-items {
    color: rgb(126, 20, 22);
    font-size: 25px;
}

.dropdown-items:hover {
    color: rgba(126, 20, 22, 0.699);
}

.transform {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .35s ease;
    transition: all .35s ease;
}

.transform-active {
    transform: translateY(50vh);
}

@media (max-width: 1000px) {
    .logo {
        max-height: 300px;
        max-width: 300px;
    }
    h2 {
        font-size: 2em;
    }
    .text-cont {
        grid-template-columns: 1fr;
    }
    .container {
        visibility: hidden;
    }
    .menu-button {
        left: 50vw;
    }
}